In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [2]:
print(os.listdir())

['PAHourly.csv', 'PAwindspeed.csv', 'DataCleaningPA.ipynb', '.ipynb_checkpoints', '.git']

In [3]:
df = pd.read_csv('./PAHourly.csv')

In [4]:
df

,Time,Accumulated Precipitation for last 1 h(Avg),Air Temperature 1 Hour Average(Avg),Relative Humidity 1 hour average(Avg)
0,11/11/2019 06:00:00,0.0,23.4,69.399
1,11/11/2019 07:00:00,0.0,24.3,64.700
2,11/11/2019 08:00:00,0.0,25.0,59.300
3,11/11/2019 09:00:00,0.0,25.4,57.500
4,11/11/2019 10:00:00,0.0,24.8,60.400
...,...,...,...,...
25128,11/07/2022 02:00:00,0.0,15.3,100.000
25129,11/07/2022 03:00:00,0.0,17.3,100.000
25130,11/07/2022 04:00:00,0.0,19.4,91.600
25131,11/07/2022 05:00:00,0.0,21.5,74.300
25132,11/07/2022 06:00:00,0.0,23.3,61.600

To find the null value

In [5]:
df.isnull().sum()

Time                                             0
Accumulated Precipitation for last 1 h(Avg)    531
Air Temperature 1 Hour Average(Avg)            223
Relative Humidity 1 hour average(Avg)           18
dtype: int64

Particularly knowing the possible Null values

In [6]:
missing_values =['N/A','na',np.nan]
df= pd.read_csv('./PAHourly.csv', na_values=missing_values)
print(df)

                      Time  Accumulated Precipitation for last 1 h(Avg)  \
0      11/11/2019 06:00:00                                          0.0
1      11/11/2019 07:00:00                                          0.0
2      11/11/2019 08:00:00                                          0.0
3      11/11/2019 09:00:00                                          0.0
4      11/11/2019 10:00:00                                          0.0
...                    ...                                          ...
25128  11/07/2022 02:00:00                                          0.0
25129  11/07/2022 03:00:00                                          0.0
25130  11/07/2022 04:00:00                                          0.0
25131  11/07/2022 05:00:00                                          0.0
25132  11/07/2022 06:00:00                                          0.0

       Air Temperature 1 Hour Average(Avg)  \
0                                     23.4
1                                     24.3
2                                     25.0
3                                     25.4
4                                     24.8
...                                    ...
25128                                 15.3
25129                                 17.3
25130                                 19.4
25131                                 21.5
25132                                 23.3

       Relative Humidity 1 hour average(Avg)
0                                     69.399
1                                     64.700
2                                     59.300
3                                     57.500
4                                     60.400
...                                      ...
25128                                100.000
25129                                100.000
25130                                 91.600
25131                                 74.300
25132                                 61.600

[25133 rows x 4 columns]

In [7]:
df.isnull().sum()

Time                                             0
Accumulated Precipitation for last 1 h(Avg)    531
Air Temperature 1 Hour Average(Avg)            223
Relative Humidity 1 hour average(Avg)           18
dtype: int64

plotting the null values in Heatmap

In [8]:
#sns.heatmap(df.isnull(), yticklabels= False, annot=True)

# Checking the If their exist missing date or not!

In [9]:
#setting the time value as Index
df = df.set_index('Time')
df.index=pd.to_datetime(df.index)
print(pd.date_range(
    start="11/11/2019 22:00:00" , end="11/07/2022 06:00:00"
).difference(df.index))

DatetimeIndex(['2019-11-21 22:00:00', '2019-12-10 22:00:00',
               '2019-12-15 22:00:00', '2019-12-22 22:00:00',
               '2019-12-31 22:00:00', '2020-01-08 22:00:00',
               '2020-01-23 22:00:00', '2020-01-24 22:00:00',
               '2020-01-25 22:00:00', '2020-01-26 22:00:00',
               '2020-01-27 22:00:00', '2020-01-28 22:00:00',
               '2020-01-29 22:00:00', '2020-01-31 22:00:00',
               '2020-02-19 22:00:00', '2020-02-22 22:00:00',
               '2020-03-13 22:00:00', '2020-03-14 22:00:00',
               '2020-04-11 22:00:00', '2020-04-18 22:00:00',
               '2020-08-28 22:00:00', '2020-09-27 22:00:00',
               '2020-09-28 22:00:00', '2020-09-29 22:00:00',
               '2020-09-30 22:00:00', '2020-10-01 22:00:00',
               '2020-10-05 22:00:00', '2020-10-10 22:00:00',
               '2020-10-11 22:00:00', '2020-10-31 22:00:00',
               '2020-11-28 22:00:00', '2020-11-29 22:00:00',
               '2020-12-31 22:00:00', '2021-02-14 22:00:00',
               '2021-02-15 22:00:00', '2021-02-22 22:00:00',
               '2022-03-25 22:00:00', '2022-04-25 22:00:00',
               '2022-08-18 22:00:00', '2022-10-10 22:00:00',
               '2022-10-11 22:00:00', '2022-10-12 22:00:00',
               '2022-10-13 22:00:00', '2022-10-14 22:00:00',
               '2022-10-15 22:00:00', '2022-10-16 22:00:00',
               '2022-10-17 22:00:00'],
              dtype='datetime64[ns]', freq=None)

# addding all the time that are missing

In [11]:
df

,Accumulated Precipitation for last 1 h(Avg),Air Temperature 1 Hour Average(Avg),Relative Humidity 1 hour average(Avg)
Time,,,
2019-11-11 06:00:00,0.0,23.4,69.399
2019-11-11 07:00:00,0.0,24.3,64.700
2019-11-11 08:00:00,0.0,25.0,59.300
2019-11-11 09:00:00,0.0,25.4,57.500
2019-11-11 10:00:00,0.0,24.8,60.400
...,...,...,...
2022-11-07 02:00:00,0.0,15.3,100.000
2022-11-07 03:00:00,0.0,17.3,100.000
2022-11-07 04:00:00,0.0,19.4,91.600
2022-11-07 05:00:00,0.0,21.5,74.300
2022-11-07 06:00:00,0.0,23.3,61.600