In [95]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import os

In [96]:
df = pd.read_csv('./MaxTempr.csv')
df.head()

               Time  Pokhara Airport  Lumle  Begnas
0  01/01/2015 12:00             17.6   15.0    17.5
1  01/02/2015 12:00             17.1   12.5    17.5
2  01/03/2015 12:00             17.0   13.5    17.5
3  01/04/2015 12:00             22.6   14.5    22.5
4  01/05/2015 12:00             20.5   13.5    20.6

In [97]:
df.isnull().sum()

Time               0
Pokhara Airport    0
Lumle              9
Begnas             1
dtype: int64

In [98]:
# checking the missing date
# Setting the Date values as index
df = df.set_index('Time')
 
# # to_datetime() method converts string
# # format to a DateTime object
df.index = pd.to_datetime(df.index)
 
# # dates which are not in the sequence
# # are returned
print(pd.date_range(
  start="2015-01-01 12:00", end="2022-11-06 12:00").difference(df.index))

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [99]:
df1=df.interpolate(method='linear')

In [100]:
df1.isnull().sum()

Pokhara Airport    0
Lumle              0
Begnas             0
dtype: int64

In [101]:
# df1.to_csv('CleanedMinTempr.csv')