In [49]:
import numpy as np 
import seaborn as sns
import pandas as pd 
import datetime as dt
import matplotlib.pyplot as plt
import os

In [50]:
df = pd.read_csv('./Lamachour.csv')

In [51]:
df

                     Time  Precipitation 3UTC  Unnamed: 2
0     01/01/2015 03:00:00                 0.0         NaN
1     01/02/2015 03:00:00                19.6         NaN
2     01/03/2015 03:00:00                20.8         NaN
3     01/04/2015 03:00:00                10.0         NaN
4     01/05/2015 03:00:00                 0.0         NaN
...                   ...                 ...         ...
2764  08/27/2022 03:00:00                10.0         NaN
2765  08/28/2022 03:00:00               200.0         NaN
2766  08/29/2022 03:00:00                20.8         NaN
2767  08/30/2022 03:00:00                 6.4         NaN
2768  08/31/2022 03:00:00               140.0         NaN

[2769 rows x 3 columns]

In [52]:
del df['Unnamed: 2']

In [53]:
df.isnull().sum()

Time                  0
Precipitation 3UTC    0
dtype: int64

In [54]:
#changing the format of date
df['Time']=pd.to_datetime(df['Time'], infer_datetime_format='%Y-%m-%d')
df

                    Time  Precipitation 3UTC
0    2015-01-01 03:00:00                 0.0
1    2015-01-02 03:00:00                19.6
2    2015-01-03 03:00:00                20.8
3    2015-01-04 03:00:00                10.0
4    2015-01-05 03:00:00                 0.0
...                  ...                 ...
2764 2022-08-27 03:00:00                10.0
2765 2022-08-28 03:00:00               200.0
2766 2022-08-29 03:00:00                20.8
2767 2022-08-30 03:00:00                 6.4
2768 2022-08-31 03:00:00               140.0

[2769 rows x 2 columns]

In [55]:
# df['Time']

In [56]:
# checking the missing date
# Setting the Date values as index
df = df.set_index('Time')
 
# to_datetime() method converts string
# format to a DateTime object
df.index = pd.to_datetime(df.index)
 
# dates which are not in the sequence
# are returned
print(pd.date_range(
  start="2015-01-01 03:00:00", end="2022-8-31 03:00:00").difference(df.index))

DatetimeIndex(['2020-12-01 03:00:00', '2020-12-02 03:00:00',
               '2020-12-03 03:00:00', '2020-12-04 03:00:00',
               '2020-12-05 03:00:00', '2020-12-06 03:00:00',
               '2020-12-07 03:00:00', '2020-12-08 03:00:00',
               '2020-12-09 03:00:00', '2020-12-10 03:00:00',
               '2020-12-11 03:00:00', '2020-12-12 03:00:00',
               '2020-12-13 03:00:00', '2020-12-14 03:00:00',
               '2020-12-15 03:00:00', '2020-12-16 03:00:00',
               '2020-12-17 03:00:00', '2020-12-18 03:00:00',
               '2020-12-19 03:00:00', '2020-12-20 03:00:00',
               '2020-12-21 03:00:00', '2020-12-22 03:00:00',
               '2020-12-23 03:00:00', '2020-12-24 03:00:00',
               '2020-12-25 03:00:00', '2020-12-26 03:00:00',
               '2020-12-27 03:00:00', '2020-12-28 03:00:00',
               '2020-12-29 03:00:00', '2020-12-30 03:00:00',
               '2020-12-31 03:00:00'],
              dtype='datetime64[ns]', freq=None)

#ADDING THE MISSING DATES WITH NA VALUE

In [57]:
index = pd.date_range(start="2015-01-01 03:00:00", end="2022-08-31 03:00:00", freq="D")
df=df.reindex(index, fill_value='null')
df
# DF = pd.date_range(start="2015-01-01 03:00:00", end="2022-08-31 03:00:00", freq="D")
# df.reindex(DF, fill_value= ' ')
# df.set_index('Time').reindex(d_range)

                    Precipitation 3UTC
2015-01-01 03:00:00                0.0
2015-01-02 03:00:00               19.6
2015-01-03 03:00:00               20.8
2015-01-04 03:00:00               10.0
2015-01-05 03:00:00                0.0
...                                ...
2022-08-27 03:00:00               10.0
2022-08-28 03:00:00              200.0
2022-08-29 03:00:00               20.8
2022-08-30 03:00:00                6.4
2022-08-31 03:00:00              140.0

[2800 rows x 1 columns]

In [60]:
df.to_csv('Precipitation.csv')