In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import os

In [2]:
df= pd.read_csv('./CleanedPrecipitation.csv')
df

,Unnamed: 0,Time,Pokhara Airport,Lumle,Begnas,Lamachour
0,0,2015-01-01 03:00:00,0.0,0.0,0.0,0.0
1,1,2015-01-02 03:00:00,15.4,29.0,16.8,19.6
2,2,2015-01-03 03:00:00,21.4,26.4,33.6,20.8
3,3,2015-01-04 03:00:00,15.9,15.9,11.6,10.0
4,4,2015-01-05 03:00:00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
2764,2764,2022-07-27 03:00:00,51.1,7.0,98.0,20.0
2765,2765,2022-07-28 03:00:00,15.7,60.9,13.0,132.0
2766,2766,2022-07-29 03:00:00,3.5,11.1,7.0,2.0
2767,2767,2022-07-30 03:00:00,27.3,31.2,12.0,34.2
2768,2768,2022-07-31 03:00:00,33.4,36.2,63.0,84.0

In [7]:
df1=df.drop('Unnamed: 0', axis=1)

In [14]:
plt.plot(df1['Time'],df1['Pokhara Airport'])
plt.xlabel('Dates')
plt.ylabel('Precipitation')
plt.title('Precipitation trend among the different stations')
plt.show()
plt.legend()