In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import os

In [2]:
df = pd.read_csv('./Precipitation.csv')
df.head()

                  Time  Pokhara Airport  Lumle  Begnas
0  01/01/2015 03:00:00              0.0    0.0     0.0
1  01/02/2015 03:00:00             15.4   29.0    16.8
2  01/03/2015 03:00:00             21.4   26.4    33.6
3  01/04/2015 03:00:00             15.9   15.9    11.6
4  01/05/2015 03:00:00              0.0    0.0     0.0

In [3]:
df.isnull().sum()

Time                 0
Pokhara Airport      0
Lumle                1
Begnas             192
dtype: int64

In [4]:
# checking the missing date
# Setting the Date values as index
df = df.set_index('Time')
 
# to_datetime() method converts string
# format to a DateTime object
df.index = pd.to_datetime(df.index)
 
# dates which are not in the sequence
# are returned
print(pd.date_range(
  start="2015-01-01 03:00:00", end="2022-8-31 03:00:00").difference(df.index))

DatetimeIndex([], dtype='datetime64[ns]', freq=None)